# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
downloads/
eggs/
.eggs/
flask_session/
from_db/
lib/
lib64/
migrations/
.Python
parts/
sdist/
tmp/
var/
wheels/
*.egg-info/
*.egg
.installed.cfg
MANIFEST

# PyInstaller
# Usually these files are written by a python script from a templates
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.cache
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.tox/

# Translations
*.mo
*.pot

# Django stuff
*.log
*.dump
local_settings.py
db.sqlite3

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
_/

# IDE and editor settings
.idea/              # PyCharm
.vscode/           # Visual Studio Code
.spyderproject/    # Spyder
.spyproject/       # Spyder
.ropeproject/      # Rope
.mypy_cache/       # mypy
.DS_Store          # macOS Finder

# Additional file types
*.sql              # SQL files
*.json             # JSON files
*.csv              # CSV files
# *.conf             # Configuration files
*.sqlite3          # SQLite database files